.showshoppingView{float: left;border-bottom: 2px solid #d2d2d2}
.showshopping{display: flex;flex-wrap: wrap;margin-top: 14px;width:1199px;}
.showshopping input{margin-top: 37px;}
.showshopping img{width: 80px;height: 80px;margin-left: 50px;}
.goodsName{width: 200px;color: #333333;font-size: 12px; overflow: hidden;  white-space: nowrap;text-overflow: ellipsis;margin-left: 5px;margin-top: 10px;}
.price{color: #f2594b;margin-left: 30px;margin-top: 10px;}
.number2{color: #f2594b;margin-top: 10px;margin-left: 150px;width: 20px;}
.discount{color: #f2594b;margin-left: 165px;margin-top: 10px;width: 20px;}
.remove2{height: 20px;margin-left: 160px;}

